body {
    background: #efefef;
}

svg {
    margin-right: 5px
}

.text {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.content {
    display: flex;
    background-color: #f0f0f0;
    border: 1px solid #bbbbbb;
    border-radius: 7px;
    font-size: larger;
    text-decoration: none;
    color: black;
    margin: 5px;
    padding: 10px;
    width: 90%;
}

.content:hover {
    border: 1px solid #999999;
    text-decoration: underline;
}

.border-box {
    width: 80%;
    max-width: 1200px;
    margin: 25px auto;
    border-radius: 7px;
    border: 2px solid #999999;
    padding: 10px;
    background-color: #e9e9e9;
}

#header {
    margin: 0;
    padding: 10px;
    font-size: x-large;
    font-family: monospace;
}

#wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    justify-items: center;
}
